[gerrit]
	basePath = git
	serverId = 6fc5f27a-a26e-4e06-9f1c-4067d602e992
	canonicalWebUrl = http://gerrit.anymb.com
	ui = polygerrit
	enableGwtUi = true
[database]
	type = mysql
	hostname = 127.0.0.1
	port = 3306
	database = gerrit
	username = gerrit
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[index]
	type = LUCENE
[auth]
	type = LDAP
	gitBasicAuthPolicy = HTTP
[ldap]
	server = ldap://172.16.9.9
	username = weixin@anymb.com
	accountBase = OU=op,DC=anymb,DC=com
	groupBase = OU=op,DC=anymb,DC=com
[receive]
	enableSignedPush = true
[sendemail]
    enable = true
    from = notice@anymb.com
    smtpEncryption = ssl
    sslVerify = false
	smtpServer = smtp.exmail.qq.com
	smtpServerPort = 465
	smtpUser = notice@anymb.com
    includeDiff = true
[container]
	user = work
	javaHome = /usr/java/jdk1.8.0_151/jre
[sshd]
	listenAddress = *:29418
    batchThreads = 4
[httpd]
	listenUrl = proxy-http://*:8081/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[plugin "events-log"]
    maxAge = 20
    returnLimit = 10000
	storeUrl = jdbc:h2:/data/web/gerrit/db
	urlOptions = loglevel=ERROR
	urlOptions = logUnclosedConnections=true
	copyLocal = true
[plugin "reviewers-by-blame"]
	maxReviewers = 2
	ignoreSubjectRegEx = WIP(.*)
[reviewers]
	enableREST = true
	suggestOnly = false
[hooks]
    syncHookTimeout = 30
[core]
	packedGitOpenFiles = 1024
[gc]
	startTime = 3:00
	interval = 1 day
